/* general */
a{
    text-decoration: none;
    color:#999;
}

.container{
    width: 960px;
    margin: 0 auto;
}

:root{
    --mainColor:rgb(212, 94, 118);
    --whiteColor:#fff;
}

.d-flex{
    display: flex;
}

.object-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.b-sizing{
    box-sizing: border-box;
}

.list-unstyled{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* header */
/* Logo */
.main-header .header-inner{
    margin: 20px auto;
}

.header-inner .logo{
    width: 180px;
    height: 50px;
    display: flex;
    margin-right: 30px;
}

.header-inner .logo > a{
    width: 100%;
    display: block;
}

/* header-list */
.header-inner .header-list{
    font-size: 1.25rem;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.header-list .line{
    width: 45px;
    height: 45px;
    display: none;
}

.header-list .nav{
    flex-grow: 1;
    justify-content: space-between;
}

.nav-list > li > a{
    display: block;
    padding: 10px 20px;
}

.login-list > li > a{
    display: block;
    padding: 10px 20px;
}

.nav-list > li > a:hover,
.login-list > li > a:hover{
    color:var(--mainColor);
}

/* setting-pic */
.header-list .setting-pic{
    width: 42px;
    height: 42px;
    position: relative;
}

.setting-pic .setting_h{
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
}

.header-list .setting-pic:hover .setting{
    opacity: 0;
}

.header-list .setting-pic:hover .setting_h{
    opacity:1;
}

@media screen and (max-width:768px){
    .container{
        width: 100%;
    }

    .header-inner{
        justify-content: space-between;
    }

    .header-inner .logo{
        margin-left: 20px;
    }
    .header-inner .header-list{
        flex-grow: 0;
        flex-direction: column;
        margin-right: 10px;
    }

    .header-list .line{
        height: 100%;
        align-self: flex-end;
        margin-right:10px ;
        display: block;
        position: relative;
    }

    .header-list .line > li{
        width: 35px;
        height: 5px;
        background-color: #999;;
    }

    .header-list .line > li:nth-child(1){
        position: absolute;
        top: 10px;
        left: 0;
    }

    .header-list .line > li:nth-child(2){
        position: absolute;
        top: 22.5px;
        left: 0;
    }

    .header-list .line > li:nth-child(3){
        position: absolute;
        top: 35px;
        left: 0;
    }

    .header-list .nav{
        width: 100%;
        flex-direction: column;
        background-color: rgb(0, 0, 0,.9);
        padding:20px 40px 30px;
        box-sizing: border-box;
        position: absolute;
        top: 85px;
        left: 0;
    }

    .nav .nav-list,
    .nav  .login-list{
        width: 100%;
        flex-direction: column;
        display: none;
    }

    .header-list .nav-list > li,
    .header-list .login-list > li{
        width: 100%;
        border-bottom:1px solid var(--whiteColor);
    }

    .header-list .nav-list > li > a,
    .header-list .login-list > li > a{
        color:rgba(255,255,255,.8);
    }

    .header-list .nav-list > li:hover a,
    .header-list .login-list > li:hover a{
        color: var(--mainColor);
        background-color: rgba(255,255,255,0.1);
    }

    .header-list:hover .nav-list,
    .header-list:hover .login-list{
        display: block;
    }

    .header-inner .setting-pic{
        visibility: hidden;
    }

}

/* article */
.main-article .article-inner{
    background: url("../img/02/images/138974.jpg");
    background-size: cover;
    flex-direction: column;
}

.article-inner .article-top{
    width: 100%;
}

.main-article .article-top{
    background-color: rgba(0,0,0,.4);
    text-align: center;
    padding-bottom: 30px;
}

.article-top .article-top-icon{
    width: 15%;
    padding-top: 50px;
    margin: 0 auto;
}

.article-top .article-txt{
   color:var(--whiteColor);
   text-align: center;
}

.article-txt h1{
    margin: 5px 0 10px;
    letter-spacing: 2px;
}

.article-txt p{
    font-size: 1rem;
    color:rgba(255,255,255,.8);
    letter-spacing: 1px;
    margin-bottom: 30px;
}

/* articl-form */
.article-top > form{
    width: 45%;
    margin: 0 auto;
}

.article-top .form-select{
    height: 35px;
    border: 2px solid var(--mainColor);
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.form-select > img{
    margin-left: 10px;
}

.form-select  > select , input , button{
    height: 90%;
    color: var(--whiteColor);
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.form-select > select{
    width: 25%;
    height: 80%;
    border-right: 2px solid var(--mainColor);
}

.form-select > select > option {
    width: 100%;
    color:#000;
}

.form-select > input{
    flex-grow: 1;
    padding-left: 8px;

}

.form-select > button{
    width: 30%;
    height: 80%;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor);
    cursor: pointer;
    margin-right: 3px;
}

.form-select > button > img{
    width: 28px;
    height: 28px;
}

.form-select > button:hover{
    background-color: rgb(163, 75, 92);
}

/* article-bottom */
.article-inner .article-bott-icon{
    color: var(--whiteColor);
    background: url("../img/02/pics_1129/bg_icon.png");
    justify-content:space-evenly;
    align-items: center;
}

.article-bott-icon .bott-icon{
    flex-direction: column;
    align-items: center;
    padding: 30px;
    flex-grow: 1;
}

.article-bott-icon .bott-icon:nth-child(3){
    padding: 40px 20px;
}

.article-bott-icon .bott-icon:hover{
    height: 100%;
    background-color: rgba(255,255,255,.1);
}

.bott-icon span{
    width:110px;
    text-align: center;
}

@media screen and (max-width:768px){
    .main-article .article-inner{
        background-position: center;
    }

    .article-inner .article-top{
        width:100%;
        padding-bottom: 60px;
    }

    .article-top form{
        width: 80%;
    }

    .article-top  .form-select{
        flex-wrap: wrap;
    }

    .form-select select{
        width: 30%;
    }

    .form-select input{
        width: 30%;
    }

    .form-select button{
        width: 100%;
        margin-top: 10px;
    }

    .article-inner .article-bott-icon{
        flex-direction: column;
    }

    .article-bott-icon .bott-icon{
        padding: 30px 0;
        width: 100%;
    }

    .article-bott-icon .bott-icon:nth-child(3){
        padding:30px 0;
    }

}

 /* hot */
 .hot-wrap > .container{
    position: relative;
}

 .hot-inner h2{
     text-align: center;
}

.hot-wrap h2:after{
    content:"";
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 32px;
    left:50%;
    margin-left: -15px;
}

.hot-pic{
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.hot-pic .hot-items{
    width: calc(25% - 20px);
    margin-right: 20px;
    transition: .3s;
    position: relative;
}

.hot-pic .hot-items:hover{
    transform: translateY(-5px);
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

.hot-items > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hot-items span{
    display: block;
    width: 60% ;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid var(--mainColor);
    background-color: rgba(255,255,255,.7);
}

.hot-items  > span{
    color:var(--mainColor);
    position: absolute;
    bottom: 8%;
    left: 42%;
}

.hot-wrap .hot-more{
    padding: 3px 10px;
    background-color: var(--mainColor);
    box-sizing: border-box;
    position: relative;
    top: 0;
    left:88%;
}

.hot-more > a{
    color:var(--whiteColor);
}

.hot-wrap .hot-more:hover{
    box-shadow: 0 0 5px rgba(0,0,0,.4) ;
}

@media only screen and (max-width:768px){
    .hot-wrap h2{
        margin-bottom: 30px;
    }

    .hot-pic{
        flex-wrap: wrap;
        padding-left: 40px;
        padding-right: 20px;
    }

    .hot-pic .hot-items{
        width: calc(50% - 20px);
        margin-bottom: 10px;
    }

    .hot-wrap h2{
        color:rgb(131, 128, 128);
    }

    .hot-wrap .hot-more{
        top: 0;
        left:75%;
    }
}

/* design */
.design-wrap{
    position: relative;
    display: none;
}

.design-wrap h2{
    text-align: center;
    margin-top: 11px;
}

.design-wrap h2:after{
    content:"";
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 33px;
    left:50%;
}

.design-pic{
    padding: 6px 40px 0;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.design-pic .design-items{
    width: calc(25% - 20px);
    margin-right: 20px;
    position: relative;
}

.design-avatar{
    width:120px;
    height:120px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #eee;
    transition: .3s;
    overflow: hidden;
}

.design-pic .design-avatar:hover{
    transform: translateY(-5px);
    border: none;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

.design-items > p{
    width: 100px;
    font-size: 0.875rem;
    text-align: center;
    color:var(--whiteColor);
    text-shadow: 0 0 5px rgba(0,0,0,.8);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-48%,-50%);
}

.design-items .design-txt{
    text-align: center;
}

.design-txt p{
    font-size: 0.875rem;
    color:rgb(102, 101, 101);
    margin: 10px 0;
}

.design-wrap .design-more{
    padding: 3px 10px;
    background-color: var(--mainColor);
    box-sizing: border-box;
    position: relative;
    top: 0;
    left:88%;
}

.design-more > a{
    color:var(--whiteColor);
}

.design-wrap .design-more:hover{
    box-shadow: 0 0 5px rgba(0,0,0,.4) ;
}

@media only screen and (max-width:768px){
    .design-wrap{
    display: block;
}

    .design-pic{
        flex-wrap: wrap;
        padding-left: 40px;
        padding-right: 20px;
    }

    .design-pic .design-items{
        width: calc(50% - 20px);
        margin-bottom: 10px;
    }

    .design-wrap h2{
        color:rgb(131, 128, 128);
    }

    .design-wrap .design-more{
        top: 0;
        left:75%;
    }
}

/* topic */
.topic-wrap{
    position: relative;
}

.topic-wrap h2{
    text-align: center;
    margin-top: 11px;
}

.topic-wrap h2::after{
    content:"";
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 33px;
    left:50%;
    margin-left: -15px;
}

.topic-pic{
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.topic-pic .topic-items{
    width: calc(100%/3 - 20px);
    margin-right: 20px;
    background-color: #000;
    transition: .3s;
    position: relative;
}

.topic-pic .topic-items:hover{
    transform: translateY(-5px);
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

.topic-items > a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.topic-items p{
    color: var(--whiteColor);
    text-shadow: 0 2px 3px #000;
}

.topic-items p{
    width: 100%;
    padding:0 5px;
    box-sizing: border-box;
    position: absolute;
    top:50%;
    margin-top: -8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.topic-wrap .topic-more{
    padding: 3px 10px;
    background-color: var(--mainColor);
    box-sizing: border-box;
    position: relative;
    top: 0;
    left:88%;
}

.topic-more > a{
    color:var(--whiteColor);
}

.topic-wrap .topic-more:hover{
    box-shadow: 0 0 5px rgba(0,0,0,.4) ;
}

@media only screen and (max-width:768px){
    .topic-pic{
        flex-direction: column;
    }

    .topic-pic .topic-items{
        width: 100%;
        height: 226px;
        margin-bottom: 10px;
    }

    .topic-wrap h2{
        color:rgb(131, 128, 128);
    }

    .topic-wrap .topic-more{
        top: 0;
        left:75%;
    }
}

/* footer */
.main-footer{
    margin-top: 40px;
}

.main-footer .container{
    background-color: #eee;
}

.app-wrpa{
    flex-grow: 1;
    justify-content: center;
    align-items: flex-end;
}

.app-wrpa .phone{
    width: 150px;
}

.main-footer .app-txt{
    position: relative;
}

.app-txt h2{
    text-align: center;
}

.app-txt h2::after{
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top:33px;
    left:40%;
}

.app-txt .app-pic{
    width: 100%;
    justify-content: center;
    position: relative;
}

.app-pic .app-android,.app-pic .app-ios{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-right:10px;
    overflow: hidden;
    transition: .3s;
    position: relative;
}

.app-android .btn_app_android,
.app-ios .btn_app_ios{
    width: 100%;
    height: 100%;
}


.app-android .btn_app_android_h,
.app-ios .btn_app_ios_h{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
}

.app-android .btn_app_android:hover,
.app-ios .btn_app_ios:hover{
    opacity: 0;
}

.app-android .btn_app_android_h:hover,
.app-ios .btn_app_ios_h:hover{
    opacity: 1;
}

.app-txt > p{
    color:var(--mainColor);
}

/* footer-apply */
.main-footer .apply-wrap{
    width: 100%;
    background: url("../img/02/images/unnamed.jpg");
    background-size: cover;
    color: rgba(255,255,255,.8);
    padding-top: 10px;
}

.apply-wrap .apply{
    text-align: center;
    justify-content: center;
    position: relative;
}

.apply .apply-txt{
    padding: 0 80px 20px;
}

.apply .apply-txt:nth-child(1)::after{
    content:"";
    display: block;
    width: 2px;
    height: 100px;
    border-right: 2px dashed rgba(255,255,255,.7);
    position: absolute;
    top: 20%;
    left: 50%;
}

.apply-txt p{
    margin: 0;
}

.apply-txt p:nth-child(2),
.apply-txt p:nth-child(5){
    font-size: 4.125rem;
    margin: 5px 0;
    color: var(--whiteColor);
}

.apply-wrap .bot-more{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 10;
    margin-bottom: 15px;
}

.bot-more h3{
    color:#fff;
    font-size: 1.375rem;
    letter-spacing: 5px;
    text-align: center;
    margin: 0;
    margin-right: 20px;
}

.bot-more h3::after{
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top:30px;
    left: 30.5%;
}

.bot-more .apply-btn > button{
    width: 150px;
    height: 32px;
    border: none;
    border-radius: 3px;
    background-color:rgb(221, 221, 221,.8);
    color:rgba(0,0,0,0.8);
    cursor: pointer;
    margin: 0 10px 20px 0;
}

.bot-more .apply-btn > button:hover{
    background-color:rgb(221, 221, 221,1);
}

/* footer-contact-icon */
.main-footer .contact-inner{
    justify-content: center;
    margin: 20px 0 40px 80px;
}

.main-footer .info{
    width:50%;
    align-items: center;
}

.info .info-pic{
    width: 60px;
    height: 40px;
}

.info .info-pic > img{
    width: 100%;
    object-fit: contain;
}

.info p{
    color: rgb(146, 144, 144);
    font-size: 0.8125rem;
    line-height: 1.5;
    margin: 0 20px 0 10px;
}

.footer-icon{
    width: 25%;
    flex-wrap: wrap;
    align-items: center;
}

.footer-icon > a{
    width: 50%;
    display: block;
    font-size: 0.8125rem;
    color: rgb(56, 54, 54);
}

.footer-icon > a > img{
    width: 20%;
    height:20%;
    object-fit: contain;
    vertical-align: middle;
    padding-right: 5px;
}

.footer-icon > a:hover{
    color:var(--mainColor);
}

.main-footer .join{
    width: 135px;
    height: 40px;
    position: relative;
}

.join  a{
    display: block;
    width: 60%;
    height: 60%;
    font-size: 0.8125rem;
    color: var(--mainColor);
    padding:12px 3px 0 42px;
    text-align:center;
    position: absolute;
    top: 0;
    left:0;
}

/* footer-copy */
.main-footer .copy{
    height: 55px;
    font-size: 0.75rem;
    color:rgb(95, 93, 93);
    text-align: center;
    padding: 5px 0;
}

.main-footer .copy::before{
    content: "";
    display: block;
    width:90%;
    height: 1px;
    background-color: rgb(146, 144, 144);
    margin: 0 auto;
}

@media only screen and (max-width:768px){
    .main-footer .contact{
        width: 100%;
    }

    .app-wrpa{
        align-items: center;
        justify-content: center;
    }

    .app-wrpa .phone{
        width: 40%;
        align-items: flex-end;
    }

    .app-wrpa .phone > img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .app-pic{
        flex-direction: column;
        align-items: center;
    }

    .app-txt h2{
        font-size: 1.375rem;
    }

    .app-txt h2::after{
        top:30px;
        left:40%;
    }

    .app-txt  p{
        display: none;
    }

    .apply-wrap .apply{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .apply .apply-txt p{
        width: 100%;
        text-align: center;
        padding-top: 5px;
    }

    .apply .apply-txt:nth-child(1)::after{
        display: none;
    }

    .apply-wrap .bot-more{
        display: flex;
        flex-direction: column;
    }

    .bot-more h3::after{
        top:30px;
        left: 43%;
    }

    .bot-more .apply-btn{
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 30px 0 0 0;
    }

    .bot-more .apply-btn > button{
        width: 150px;
        margin: 0 10px 20px;
}

    .main-footer .contact{
        flex-direction: column;
        padding:0 10px;
        margin: 0;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .main-footer .info{
        width: 100%;
        margin-bottom: 10px;
    }

    .info p{
        color: rgb(146, 144, 144);
        font-size: 0.75rem;
        line-height: 1.5;
        margin: 0 0 0 10px;
    }

    .footer-icon{
        width: 100%;
        margin: 10px 10px 20px 10px;
    }

    .footer-icon > a{
        width: 50%;
        display: block;
        font-size: 0.8125rem;
        color: rgb(56, 54, 54);
    }

    .footer-icon > a > img{
        width: 10%;
        height:10%;
        object-fit: contain;
        vertical-align: middle;
        padding-right: 5px;
    }

    .main-footer .join{
        top:0;
        left: 50%;
        transform: translate(-50%);
    }

    .join  a{
        top: 0%;
        left:50%;
        transform: translate(-50%);
    }

    .main-footer .copy p{
        padding: 5px 50px;
    }

    .main-footer .copy::before{
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background-color: rgb(189, 185, 185);
    margin: 0 auto;
    }

}


